includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/app/
        - src/config/
        - src/database/
        - src/resources/
        - src/routes/

    excludePaths:
        - *.blade.php
        - src/app/Http/Controllers/Admin/PageCrudController.php
        - src/app/Models/Page.php

    ignoreErrors:
        - '#outside of the config#'
        - '#Laravel\\Sanctum#'
        - '#DB::rawMatch#'

    level: 5